<footer class="bg-gray-800 text-white py-8">
  <div class="max-w-4xl mx-auto px-4">
    <div class="flex flex-col items-center justify-center text-center">
      <h2 class="text-xl mb-6">Your Tagline Here</h2>

      <div class="flex space-x-4 mb-4">
        <span
          class="relative inline-block before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-pink-500"
        >
          <a href="#" class="text-white"
            ><span class="relative text-white dark:text-gray-950"
              >LinkedIn</span
            ></a
          >
        </span>
        <span
          class="relative inline-block before:absolute before:-inset-1 before:block before:skew-y-3 before:bg-[#92DCE5]"
        >
          <a href="#" class="text-white"
            ><span class="relative text-white dark:text-gray-950"
              >GitHub</span
            ></a
          >
        </span>
      </div>

      <p class="text-sm">© 2024 Your Name</p>
    </div>
  </div>
</footer>
